.heading-tertiary {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
}
.divider {
    margin: 1rem 0;
    color: #ffffff;
}
table {
    width: 100%;
    border: .2rem solid #ffb73f;
}
table thead tr {
    background-color: #ffb73f;
    color: #fff7e9;
}
#user-modal {
    background-color: rgba(0, 0, 0, 0);
}
#user-modal > .modal-content {
    background-color: #ffb73f;
    width: 35%;
    height: auto;
}
#user-modal > .modal-content > .modal-header > .modal-heading {
    color: #fff7e9;
}
@media (max-width: 68.75em){ /* 1100px */
    #user-modal > .modal-content {
        width: 55%;
    }
}
@media (max-width: 60.94em) { /* 975px */
    #user-modal > .modal-content {
        width: 60%;
    }
}
@media (max-width: 37.5em){ /* 600px */
    #user-modal > .modal-content {
        width: 75%;
    }
}