<link rel="stylesheet" type="text/css" href="/static/styles/css/about.css" />
<div class="row">
    <div class="col-2-0f-4">
        <aside class="about-aside">
            <img src="/static/styles/images/max-delsid-oBwnHsjCx9A-unsplash.jpg" alt="about us image"
                class="img-responive" />
        </aside>
    </div>
    <div class="col-2-0f-4 padding-left-4">
        <aside class="about-aside">
            <h2 class="heading-secondary">ABOUT US</h2>
            <div class="row">
                <h3 class="heading-tertiary padding-top-2">
                    <span class="sub-heading">History</span>
                </h3>
                <p class="subtext padding-top-2">
                    Around since 1970, we have been delivering the best to our esteemed customers for a very long time
                    and just like wine, our service gets better with age.
                </p>
                <h3 class="heading-tertiary padding-top-2">
                    <span class="sub-heading">We specialize in all things beef.</span>
                </h3>
                <p class="subtext padding-top-2">
                    Come to the source of the finnest beef you'll ever test. Made by the best chefs in
                    business. Have it in any way and in any form you want. Afterall, you're the boss.
                </p>
                <h3 class="heading-tertiary padding-top-2">
                    <span class="sub-heading">
                        Operation Hours.
                    </span>
                </h3>
                <div class="row padding-top-2">
                    <table class="operation-hours">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>Monday - Friday</td>
                                <td>6:00am - 12:00am</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>6:00am - 11:00pm</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td>6:00am - 10:00pm</td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    <h3 class="heading-tertiary padding-top-2 padding-bottom-2">
                        <span class="sub-heading">Our Branches</span>
                    </h3>
                    <div class="map-container"></div>
                </div>
            </div>
        </aside>
    </div>
</div>