<div class="row">
    <div class="col-1-0f-4">
        <div class="profile-pic">
            <img src="/styles/images/jon-tyson-kctt4tL1dkE-unsplash.jpg" alt="" class="img-responsive">
        </div>
        <h3 class="heading-tertiary">{{auth_user.username}}</h3>
    </div>
    <div class="col-3-0f-4"></div>
</div>
{{auth_user.username}}