<style>
    main {
        height: 100%;
    }
    .heading-tertiary {
        color: #ffffff;
        font-size: 2.5rem;
        text-align: center;
    }
    .divider {
        margin: 1rem 0;
        color: #ffffff;
    }
</style>
<div class="login-form">
    <h3 class="heading-tertiary">Login</h3>
    <hr class="divider" />
    <form action="/login" method="POST">
        <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" name="username" id="username" class="control" placeholder="Username" />
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" name="password" id="password" class="control" placeholder="Password" />
        </div>
        <div class="control-group"></div>
        <div class="control-group text-center">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
</div>