<link rel="stylesheet" type="text/css" href="/static/styles/css/gallery.css" />
<div class="row">
    {{#each pageImages}}
    <div class="col-1-0f-4">
        <div class="gallery-image-container">
            <img class="gallery-image" src="/page-content/{{this._id}}/image" alt="" srcset="" />
        </div>
    </div>
    {{/each}}
</div>