<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beefup</title>
    <link rel="stylesheet" href="/static/styles/css/flatpickr.min.css" />
    {{!-- <link rel="stylesheet" href="/static/styles/css/fontawesome-all.min.css" /> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/css/grid.css" />
</head>

<body>
    {{>header}}
    <div class="container">
        <main>
            {{{body}}}
        </main>
    </div>
    {{>footer}}
    <div class="modal-container" id="contact-modal">
        <div class="modal-content">
            <div class="modal-header clear-fix">
                <h3 class="modal-heading">Contact Us</h3>
                <a class="modal-close" href="#"><i class="fa fa-remove"></i></a>
            </div>
            <div class="modal-body">
                <div class="contact-form">
                    <form name="contact-form" id="contact-form">
                        <div class="control-group">
                            <label for="from" class="control-label">Name</label>
                            <input type="text" name="from" id="from" class="control form-control" required="required"
                                placeholder="Name" />
                        </div>
                        <div class="control-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="email" name="email" id="email" required="required" class="control form-control"
                                placeholder="Email" />
                        </div>
                        <div class="control-group">
                            <label for="phonenumber" class="control-label">Phone Number</label>
                            <input type="tel" name="phonenumber" id="phonenumber" class="control form-control"
                                placeholder="Phone Number" minlength="10" />
                        </div>
                        <div class="control-group">
                            <label for="message" class="control-label">Message</label>
                            <textarea name="message" id="message" rows="8" class="control form-textarea"
                                placeholder="Message" minlength="10" required="required"></textarea>
                        </div>
                        <div class="control-group">
                            <input type="submit" value="Send" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
    <div class="modal-container" id="reservation-modal">
        <div class="modal-content">
            <div class="modal-header clear-fix">
                <h3 class="modal-heading">Book A Table</h3>
                <a class="modal-close" href="#"><i class="fa fa-remove"></i></a>
            </div>
            <div class="modal-body">
                <div class="reservation-form">
                    <form name="reservation-form" id="reservation-form">
                        <div class="control-group">
                            <label for="name" class="control-label">Name</label>
                            <input type="text" name="clientname" id="clientname" class="control form-control"
                                required="required" placeholder="Name" />
                        </div>
                        <div class="control-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="email" name="email" id="email" required="required" class="control form-control"
                                placeholder="Email" />
                        </div>
                        <div class="control-group">
                            <label for="phone" class="control-label">Phone Number</label>
                            <input type="tel" name="phonenumber" id="phonenumber" class="control form-control"
                                placeholder="Phone Number" minlength="10" />
                        </div>
                        <div class="control-group">
                            <label for="message" class="control-label">Additional Details</label>
                            <textarea name="additionaldetails" id="additionaldetails" rows="2"
                                class="control form-textarea" placeholder="Additional Details" minlength="10"
                                required="required"></textarea>
                        </div>
                        <div class="control-group clear-fix">
                            <label for="reservationdatetime" class="control-label">Date & Time Booked</label>                            
                            <div class=col-4-0f-4>
                                <input type="text" name="reservationdatetime" id="reservationdatetime"
                                    class="control form-control" placeholder="Time Booked" required="required"  />
                            </div>
                        </div>
                        <div class="control-group">
                            <input type="submit" value="Send" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
    <div class="modal-container" id="login-modal">
        <div class="modal-content">
            <div class="modal-header clear-fix">
                <h3 class="modal-heading">Login</h3>
                <a class="modal-close" href="#"><i class="fa fa-remove"></i></a>
            </div>
            <div class="modal-body">
                <div class="login-form">
                    <div class="error" id="login-errors"></div>
                    <form id="login-form">
                        <div class="control-group">
                            <label for="username" class="control-label">Username</label>
                            <input type="text" name="username" id="username" class="control" placeholder="Username" />
                        </div>
                        <div class="control-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" name="password" id="password" class="control"
                                placeholder="Password" />
                        </div>
                        <div class="control-group"></div>
                        <div class="control-group text-center">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
    <!--<div class="modal-container" id="modal">
            <div class="modal-content">
                <div class="modal-header clear-fix">
                    <h3 class="modal-heading"></h3>
                    <a class="modal-close" href="#"><i class="fa fa-remove"></i></a>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer"></div>
            </div>
        </div>-->
    <script src="/static/scripts/js/flatpickr.min.js"></script>
    <script src="/static/scripts/js/utils.js"></script>
    <script src="/static/scripts/js/main.js"></script>
    <script src="/static/scripts/js/contact.js"></script>
    <script src="/static/scripts/js/reservations.js"></script>
</body>

</html>