<link rel="stylesheet" type="text/css" href="/static/styles/css/menu.css" />
<div class="row">
    {{#each menuItems}}
    <div class="col-2-0f-4 padding-x5 clear-fix">
        <div class="row menu-item border-primary-x2">
            <div class="col-1-0f-4 menu-item-photo-container">
                <img src="/menu-item/{{_id}}/image" alt="" class="menu-item-photo">
            </div>

            <div class="col-3-0f-4 menu-item-details">
                <h4 class="menu-item-name sub-heading">{{itemname}}</h4>
                <p class="menu-item-description">
                   {{description}}
                </p>
                <span class="menu-item-price">${{_divideby100 price}}</span>
            </div>
        </div>
    </div>
    {{/each}}
</div>