<link rel="stylesheet" type="text/css" href="/static/styles/css/services.css" />
{{#each serviceItems}}
<div class="row border-primary-x2">
    <div class="col-1-0f-4">
        <div class="service-image-container">
            <img class="service-image image-responsive" src="/service-item/{{_id}}/image" alt="service photo">
        </div>
    </div>
    <div class="col-3-0f-4">
        <div class="service-details">
            <h2 class="heading-secondary padding-bottom-2">{{itemname}}</h2>
            <p class="subtext-2 padding-top-2 padding-bottom-2 service-details-body">
                {{description}}
            </p>
            <div class="service-price">
                Starting From ${{_divideby100 startprice}}
            </div>
        </div>
    </div>
</div>
{{/each}}