<div class="ribbon">
    <div class="row">
        <div class="col-1-0f-4">
            <header>
                <a href="/" class="link brand-link">
                    <h1 class="heading-primary">BeefUp</h1>
                </a>
            </header>
        </div>
        <div class="col-3-0f-4">
            <input type="checkbox" class="navigation-toggle" id="navigation-toggle" />
            <label for="navigation-toggle" class="navigation-toggle-label">
                <span class="span-before"></span>
                <span class="span"></span>
                <span class="span-after"></span>
            </label>
            <nav class="navigation clear-fix">
                <ul class="navigation-nav">
                    <li>
                        <a href="/" class="link nav-link">Home</a>
                    </li>
                    <li>
                        <a href="/menu" class="link nav-link">Menu</a>
                    </li>
                    <li>
                        <a href="#reservation-modal" class="link nav-link">Reservations</a>
                    </li>
                    <li>
                        <a href="/services" class="link nav-link">Services</a>
                    </li>
                    <li>
                        <a href="/gallery" class="link nav-link">Gallery</a>
                    </li>
                    <li>
                        <a href="/about" class="link nav-link">About-Us</a>
                    </li>
                    <li>
                        <a href="#contact-modal" class="link nav-link">Contact-Us</a>
                    </li>
                </ul>                
                <a href="/login" class="admin-access link nav-link pull-right"><i class="fa fa-cog"></i></a>
            </nav>
        </div>
    </div>
</div>